
.news__block {
    background: rgba(0, 115, 255, 0.32);
    padding: 20px;
    max-width: 200px;
    border-radius: 10px;

    font-family: Helvetica, sans-serif;
    line-height: 1.4;
}

.news__block + .news__block {
    margin-top: 20px;
}

.news {
    padding: 20px;
}

.lang_button__block {
    padding: 20px;
}

.lang_button {
    background: peachpuff;
    padding: 10px;
    border: none;
}

.lang_button__active {
    border: solid 1px black;
}

.lang_button + .lang_button {
    margin-left: 20px;
}
